{erl_opts, [debug_info]}.
{deps, [ranch, jsx, cowboy]}.

{shell, [
    {config, "priv/sys.config"},
    {apps, [gmc_lite]}
]}.

{relx, [
    {release, {gmc_lite, git}, [gmc_lite]},
    {mode, prod},
    {extended_start_script, true},
    {sys_config, "priv/sys.config"},
    {src_tests, true},
    nowarn_export_all
]}.
