{erl_opts, [debug_info]}.
{deps, [ranch, jsx, cowboy]}.

{shell, [
    {config, "priv/sys.config"},
    {apps, [barcode_change]}
]}.

{relx, [
    {release, {barcode_change, git}, [barcode_change]},
    {mode, prod},
    {extended_start_script, true},
    {sys_config, "priv/sys.config"},
    {src_tests, true}
]}.
